<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.w3.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of countries</title>
</head>
<body>
<div align="center">
	<h1>Country Table</h1>
	<a href="/new">Add Country</a>
	
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>ID</th>
				<th>Country Name</th>
				<th>Capital City</th>
				<th>Population</th>
				<th>Currency</th>
				<th colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="country:${countries}">
				<td th:text="${country.id}">country ID</td>
				<td th:text="${country.country}">Country </td>
				<td th:text="${country.capitalCity}">Capital city</td>
				<td th:text="${country.population}">Population</td>
				<td th:text="${country.currency}">Currency</td>
				<td><a th:href="@{/edit/{id}(id=${country.id})}">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${country.id})}">Delete</a></td>
			</tr>
			
		</tbody>
	</table>
</div>
</body>
</html>